#body {
    background-color: black;
}

#header {
    background-color: #708090;
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    margin-bottom: 15px;
    margin-right: -5px;
    margin-left: -5px;
}

#container {
    background-color: #ffffff;
    border: 1px #dcdcdc;
    border-radius: 15px;
    margin-top: 10px;
    margin-left: 1rem;
    margin-right: 1rem;
}

#product-container {
   display: flex;
   padding-bottom: 50px;
}

#container-header {
    margin-left: 20px;
    padding-top: 1rem;
}

#logo {
    margin-right: 2rem;
}

#button-box {
    border: 1px #dcdcdc;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 5px, 0;
    height: 50px;
    width: 500px;
    margin-left: 2rem;
    margin-top: 2.75rem;
}

#button-box button:hover {
    background-color: #c5c5c5;
}

h2 {
    color: #ff8721;
}

button {
    border: 1px #DCDCDC;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    padding: 6px;
    margin-left: 5px;
    font-size: 16px;

}

.card-content {
    flex: 1, none, none;
    vertical-align: top;
    width: 185px;
    height: 335px;
    background-color: #ff8721;
    margin-left: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding-right: 20px;
    padding-top: 20px;
    padding-left: 20px;
    border: 1px DCDCDC;
    border-radius: 15px;
    color: #ffffff;
}

.info {
    width: 35%;
    float: left;
    margin-left: 10px;
    
}

.product-header {
    text-align: center;
    margin-left: 1rem;
}

.buy {
    border-top: 1px solid black;
    text-align: center;
    margin-top: 30px;
    clear:both;
 }

 .description {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
 }

